---
// Component Imports
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';

const navbarItems = ["Home", "Tentang Corona", "Hotline"];

const navbarBtn = "Periksa Mandiri";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Astro + TailwindCSS</title>
    <link rel="stylesheet" type="text/css" href="./global.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700;900&display=swap" rel="stylesheet" />
  </head>

  <body>
    <Navbar navbarItems={navbarItems} navbarBtn={navbarBtn}>
      <img class="h-10" src="/Logo.png" alt="Logo" />
    </Navbar>

    <Hero>
      <span slot="hero-main-title">Mari Bersama CEGAH CORONA</span>
      <span slot="hero-main-desc">Covid-19 merupakan pandemi virus yang berbahaya dan dapat menyebar dengan cepat. Yuk kita harus bersatu untuk mengurangi penyebaran Covid-19 agar lebih banyak nyawa yang terselamatkan.</span>
      <span slot="hero-btn-title">Kenali Penyebarannya</span>
      <img slot="hero-image-main" src="/IlustrasiHero.png" alt="Image Hero" />
    </Hero>

  </body>
</html>
