---
import Login from '../components/React/Login/Login.jsx';
const title = "Login";
const Css = (() => {
  if (process.env.NODE_ENV == "production")
    return Astro.site + "/global.css";
  else
    return "/global.css";
})();

---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <link rel="stylesheet" type="text/css" href={Css} />
    <link rel="preconnect" href="//fonts.googleapis.com" />
    <link rel="preconnect" href="//fonts.gstatic.com" crossorigin />
    <link href="//fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet" />
  </head>

  <body class="font-body">
    <Login hasFacebook hasGoogle />
  </body>
</html>