<!-- Hero -->
<section id="Hero">
    <div class="hero py-12">
    <!-- Container -->
     <div class="container px-12 mx-auto">
        <!-- Hero Wrapper -->
        <div class="grid grid-cols-2 gap-6 items-center">
        <!-- Hero Text -->
        <div class="hero-text col-span-6 text-center">
        <h1 class="font-bold text-3xl max-w-full text-black">
        <slot/ name="Hero-title"></h1>
        </div>
        </div>
    </div>
    </div>
</section>