---
const { Navitems, Navbtn } = Astro.props ;
---

<div id="Navigation">
  <nav class="relative flex flex-wrap items-center justify-between px-3 py-3 bg-gray-50 ">
  <div class="container  items-center justify-between mx-auto flex flex-wrap h-16 px-12 ">
  <div class="w-full relative flex justify-between lg:w-auto  px-4 lg:static lg:block lg:justify-start">
     <slot name="Logo"></slot>
  </div>
        <div class="lg:flex flex-grow items-center hidden">
            <ul class="flex flex-col lg:flex-row list-none ml-auto space-x-5">
                { Navitems.map((item) => ( 
                    <li>
                    <a href="/#" class="flex text-gray-300 hover:text-gray-800 dark:hover:text-white px-3 py-2 rounded-md text-sm font-medium">{item}</a>
                    </li>
                ))
            }
            <li>
                <a href="/#" class="text-gray-300 px-3 py-2 text-sm font-medium">
                   <button class="text-gray-800 dark:text-white  hover:text-gray-800 dark:hover:text-white px-3 py-2 rounded-md text-sm font-medium">{Navbtn}</button>     
                        </a>
                </li>
            </ul>
        </div>
     </nav>
     </div>