<div class="container mx-auto text-center p-15">
  <h2 class="font-bold text-3xl mb-5">
    <slot name="symptoms-header"></slot>
  </h2>
  <p class="max-w-lg mx-auto">
    <slot name="symptoms-title"></slot>
  </p>
  <slot name="symptoms-image"></slot>
</div>

